/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Hack Club Theme */
:root {
    --hackclub-dark: #181818;
    --hackclub-light: #ffffff;
    --hackclub-blue: #00bfff;
    /* --hackclub-red: #ff0000; */
}

@font-face {
    font-family: 'Phantom Sans';
    src: url('../../public/fonts/PhantomSans_Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Global Styles */
body {
    font-family: 'Phantom Sans', sans-serif;
    background-color: #FFF;
}

a {
    color: var(--hackclub-blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--hackclub-text);
}

button {
    background-color: var(--hackclub-blue);
    color: var(--hackclub-light);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

/* button:hover {
    background-color: var(--hackclub-red);
} */